.single_task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    height: 50px;
}

.content {
    display: flex;
    align-items: center;
    gap: 8%;
    width: 100%;
}
.single_task .name {
    transition: text-shadow 0.3s ease;
}
.id {
    padding: 0.72rem 1rem;
    border: 2px solid #af7e8f;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 1px #af7e8f;
    transition: box-shadow 0.3s ease;
    border-radius: 6rem;
    cursor: pointer;
}
.start {
    width: 3.5rem;
}
.delete {
    opacity: 0;
    transition: opacity 0.3s ease;
    height: 30%;
    box-shadow: 0px 0px 10px 1px #af7e8f;
    cursor: pointer;
}

.delete img {
    height: 100%;
}

.single_task:hover .name {
    text-shadow: 0px 0px 30px #f8f6f7;
}

.single_task:hover .delete {
    opacity: 1;
}

.single_task:hover .id {
    box-shadow: 0px 0px 30px 1px #af7e8f;
}

.myModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}