.footerDiv {
    display: flex;
    align-items: center;
    padding: 2rem 3rem;
    color: #fff;
    margin-top: auto;
    width: 100%;
    max-height: 17%;
}

.player {
    margin-left: auto;
    display: flex;
    gap:2rem;
    width: 35%;
    justify-content: center;
}

.author {
    font-style: italic;
    margin-left: auto;
} 

.player>button {
    background: transparent;
    border: none;
}