.focusDiv {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.focusBody {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    width: 100%;
    height: 100%;
    position: relative;
}

.timer {
    margin-left: auto;
    font-size: 3rem;
    color: #fff;
}

.quote {
    margin-left: auto;
    color: white;
    font-size: 1.2rem;
}


.config {
    position: absolute;
    bottom: 10rem;
    box-shadow: 0px 0px 30px 1px #ffffff60;
    width: 3.2rem;
    height: 3.2rem;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.1s ease;
    padding: 0.5rem;
    border-radius: 1rem;
}

.config:hover {
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.configShow {
    border-top-right-radius: unset;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom-right-radius: unset;
}

.config img {
    transition: all 0.3s ease;
    width: 100%;
    border-radius: 0.6rem;
    box-sizing: unset;
}

.configuration {
    position: fixed;
    left: 4.4rem;
    bottom: 4rem;
    background-color: rgba(0, 0, 0, 0.7);
    width: 23rem;
    max-height: 30rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 1rem;
}

.genres,
.volume,
.bgs {
    width: 100%;
    display: flex;
}

.genres,
.bgs {
    justify-content: space-evenly;
    align-items: center;
    padding: 1.2rem 0;
}

.genre,
.bg,
.genSelected,
.bgSelected {
    width: 4.7rem;
    height: 4.7rem;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;

    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    color: #af7e8f;
    cursor: pointer;
}

.genre>svg,
.bg>svg,
.genSelected>svg,
.bgSelected>svg {
    width: 57%;
    height: 57%;
}

.genre>svg,
.bg>svg {
    fill: #af7e8f;
}

.genSelected>svg,
.genSelected,
.bgSelected>svg,
.bgSelected {
    fill: #dbcbcb;
    color: #dbcbcb;
}

.volumeDiv {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 80%;

}
.volumeDiv img {
    width: 10%;
}
.volume {
    width: 100%;
    -webkit-appearance: none;
    margin-right: 15px;
    height: 4px;
    border-radius: 5px;
    background-image: linear-gradient(#af7e8f, #af7e8f);
    background-repeat: no-repeat;
    background-size: 50;
}

.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 2rem;
    border: none;
    background: #af7e8f;
    cursor: pointer;
    transition: background .3s ease-in-out;
}